header
{
    float: left;
    width: 100%;
    min-width: 1244px;
    height: 43px;
    background-color: #474b4f;
    text-align: center;
}

h1
{
    display: block;
    width: 20%;
    float: left;
    font-size: 1em;
    color: #86c232;
}

h2
{
    display: block;
    width: 15%;
    float: left;
    font-size: 15px;
    color: #86c232;
    font-style: normal;
}


.inputValue
{
    color: #86c232;
    width: 5%;
    float: left;
    display: block;
    text-align: left;
}


.buttonSecMenu
{
    display: block;
    width: 20%;
    float: left;
}

.buttonSecMenu button, #fileImport
{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 40px;
    border-radius: 4px;
}

#fileImport
{
    display: none;
}

.buttonSecMenu button:hover, #fileImport:hover
{
background-color: #555555;
color: white;
}

html, body
{
    height: 100%;
    background-color: #222629;
}

main
{
    width: 100%;
    height: 80%;
    min-height: 400px;
    display: block;
    float: left;
    position: relative;
    overflow-x: scroll;
    background-color: #eae8e6;
}

#svgDiv
{
    top:0px;
    left: 0px;
    position: absolute;
}

.bar
{
    width: 100%;
    height: 3%;
    background-color: #61892f;
    display: block;
    float: left;
}



footer
{
    width: 100%;
    height: 60px;
    display: block;
    float: left;
    background-color: #474b4f;
}

#operationsSec
{
    width: 75%;
    height: 40px;
    float: left;
    display: inline-block;
}

#secExp
{
    width: 25%;
    height: 40px;
    float: left;
    display: inline-block;
}

#operationsSec button
{
    width: 32.8%;
    margin-top: 7px;
    background-color: white;
    color: black;
    height: 40px;
}

#secExp button
{
    margin-top: 7px;
    background-color: white;
    color: black;
    height: 40px;
    width: 82%;
    float: left;
}

#secExp input
{
    width: 15%;
    float: left;
    display: inline-block;
    margin-top: 7px;
    background-color: white;
    color: black;
    height: 34px;
    margin-left: 4px;
}

footer button:hover
{
    background-color: #555555;
    color: white;
}

.sequence
{
    width: 50px;
    position: absolute;
}

#parameterP, #parameterN
{
    width: 8%;
    float: left;
    display: block;
    margin-top: 10px;
}

#exportDiv
{
    width: 100%;
    height: 100%;
    background-color: rgba(71,75,79,0.5);
    position: absolute;
    z-index:4;
}

#frame
{
    width: 30%;
    height:  20%;
    position: relative;
    margin: auto;
    top: 25%;
    opacity: 1;
    background-color: #eae8e6;
    z-index: 5;
    padding: 10px;
}

#select
{
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 50%;
    padding: 5px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#buttonClose, #buttonOK
{
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    padding: 5px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 4px;
}